@import './reset';
@import './Date.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&family=Roboto:wght@500&display=swap');
// rem 기준이 되는 html: font-size 기반으로 계산을 수행하기위해 10px 설정
html {
  font-size: 10px;
}

// 컨텐츠가 표현될 박스(container)의 크기를 설정
.content-wrapper {
  width: 100rem;
  height: 100rem;
  margin: auto;

  display: flex;
  justify-content: center;
}